@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;   
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
    background-attachment: fixed;
    min-height: 520px;
}

/* .shift {
    position: relative;
    top: 24vh;
}*/

.signup {
    width: 25%;
    height: 80vh;
    background-color: white;
    margin: 10vh auto;
    border-radius: 28px;
}

/*.signup h2 {
    padding: 0.6rem;
    text-align: center;
}

input {
    display: block;
    width: 80%;
    height: 2.4em;
    border-radius: 28px;
    border: 2px solid #bbb;
    margin: 5% auto;
    font-size: 18px;
    padding-left: 1.5rem;
}

input:hover {
    border: 2px solid #666;
}

input:focus {
    border:none;
}

button {
    display: block;
    width: 35%;
    height: 2.4em;
    border-radius: 28px;
    margin: 20px auto;
    border: none;
    background-color: rgb(72, 72, 245);
    color: white;
    font-weight: 700;
    font-size: 18px;
}

button:hover {
    border: 2px solid white;
} */

/*------------------------*/

.move-right {
    right: 12.5%;
}

.move-left {
    left: 12.5%;
}

.span {
    bottom: 10%;
}